
Text {
    -fx-font-family: Poppins;
}

Text {
    -fx-fill: -dark-gray-2;
}

.info-text {
    -fx-font-size: 8pt;
    -fx-fill: -medium-gray-2;
    -fx-font-weight: bold;
}

.legend {
    -fx-font-family: "Poppins SemiBold";
}

.progress-bar {
     -fx-pref-height : 20px;
     -fx-min-height : 20px;
     -fx-background-radius: 20px;
     -fx-background-color: red;
 }





.list-view,
.list-view:vertical,
.list-view:focused:vertical,
.list-view:hover,
.list-view:focused
{
    -fx-background-color : transparent;
    -fx-border-color : transparent;
    -fx-border-width : 0px;
    -fx-effect : none;
    -fx-faint-focus-color : transparent;
    -fx-focus-color : transparent;
    -fx-border-radius : 5px;
    -fx-background-radius : 5px;
    -fx-padding : 0px;
    -fx-fixed-cell-size : 45px;
}

.list-view .virtual-flow {
    -fx-background-color : transparent;
    -fx-padding : 0px;
}

.list-view:vertical .virtual-flow .clipped-container .sheet .list-cell
{
    -fx-background-color : white;
}

.border-list .virtual-flow .clipped-container .sheet .list-cell {
    -fx-border-width : 0 0 0 2.5;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:hover .text {
    -fx-font-family: "Poppins SemiBold";
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:hover:empty  {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:hover  {
    -fx-background-color: -light-gray-2;
}

